In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("/Titanic survival dataset.csv")

In [7]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [8]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [11]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [12]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [13]:
df['Fare'].fillna(df['Fare'].mean(), inplace=True)

In [14]:
df['Cabin'].fillna("NA", inplace=True)

In [15]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [18]:
df['SibSp'] = df['SibSp'].astype(bool)

In [19]:
df['Age'] = df['Age'].astype(int)

In [20]:
df['Pclass'].replace([1, 2, 3], ['A', 'B', 'C'], inplace=True)

In [21]:
df['Embarked'].replace(['Q', 'S', 'C'], [1, 2, 3], inplace=True)

In [22]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,C,"Kelly, Mr. James",male,34,False,0,330911,7.8292,NA,1
1,893,1,C,"Wilkes, Mrs. James (Ellen Needs)",female,47,True,0,363272,7.0000,NA,2
2,894,0,B,"Myles, Mr. Thomas Francis",male,62,False,0,240276,9.6875,NA,1
3,895,0,C,"Wirz, Mr. Albert",male,27,False,0,315154,8.6625,NA,2
4,896,1,C,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,True,1,3101298,12.2875,NA,2
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,C,"Spector, Mr. Woolf",male,30,False,0,A.5. 3236,8.0500,NA,2
414,1306,1,A,"Oliva y Ocana, Dona. Fermina",female,39,False,0,PC 17758,108.9000,C105,3
415,1307,0,C,"Saether, Mr. Simon Sivertsen",male,38,False,0,SOTON/O.Q. 3101262,7.2500,NA,2
416,1308,0,C,"Ware, Mr. Frederick",male,30,False,0,359309,8.0500,NA,2
417,1309,0,C,"Peter, Master. Michael J",male,30,True,1,2668,22.3583,NA,3